<div class="mainContainer">
  <div class="point">
    <div>
      <div class="box">
        <h1 class="header">
          Your points : {{pointCount}}
        </h1>
      </div>
      <h1 class="h2 error">
        💣 Game Level : {{level}}
      </h1>
      <div class="error" *ngIf="gameOverStatus">
        <h1 class="h1">
          Game Over :( <button mat-button class="btn" (click)="refresh()">NewGame</button>
        </h1>
      </div>
      <div class="error" *ngIf="gameWinStatus">
        <h1 class="h1">
          You Win :) <button mat-button class="btn1" (click)="nextLevel()">NextLevel</button>
        </h1>
      </div>
    </div>
  </div>
  <div class="gameCointainer">
    <div class="innerGameContainer ">
      <mat-grid-list [cols]="cols" rowHeight="70px" class="tile">
        <mat-grid-tile draggable="true" (click)=" show ?  changes(tile,i): null"
          *ngFor="let tile of gamePoint  ;let i = index" class=" hovers innerTile"
          [ngStyle]="{'background-color' :(gameOverStatus && clickedIndex==i)? '#FFA500' : 'black'}"
          [ngStyle]="{'background-color' :(addedValueArray.includes(tile) )? 'white' : 'black'}"
          [ngStyle]="{'background-color' :(negativeArray.includes(tile) ) && gameWinStatus ? '#FFA500' :'black'}">
          {{tile}}
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>