.mainContainer {
    width: 100%;
    height: 100%;
    background-image: url("../assets/bomberman.jpg");
}

.point {
    display: flex;
    justify-content: center;
    padding-top: 6%;
}

.box {
    border-radius: 10px;
    border: 2px solid #FFFF00;
    text-align: center;
    padding-top: 1%;

}

.header {
    color: white;
    font-size: xx-large;
    width: 390px;
    height: 40px;
    padding-top: 6%;
    font-family: Georgia, serif;
}

.innerGameContainer {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.tile {
    width: 400px;
}

.innerTile {
    border: 2px solid red;
    border-radius: 10px;
}

.error {
    margin-top: 10%;
    background-color: white;
    width: 390px;
    height: 50px;
    text-align: center;
    padding-top: 2%;
}

.btn {
    margin-left: 10%;
    background-color: #FFC107;
    color: black;
    font-weight: normal;
}

.btn1 {
    margin-left: 10%;
    background-color: #28A745;
    color: white !important;
    font-weight: normal;
}

.h1 {
    font-size: xx-large;
    color: red;
    padding-top: 1%;

}

.h2 {
    font-size: xx-large;
    color: white;
    padding-top: 3%;
    border: 3px solid rgb(0, 0, 0);
    background-color: #cbafb95e;
    border-radius: 10px;
    font-family: Georgia, serif;
    ;
}

.hovers:hover {
    background-color: #A2959F !important;
    color: rgba(163, 160, 162, 0.7) !important;
    transform: scale(1.04);
    transition: all .2s ease-in-out !important;
}